/* Estilos Base */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    color: #333; 
}

h1 {
    text-align: center;
}

/* Estilos de Formulário e Entradas */
form {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

input, button {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: white;
    color: black;
    transition: box-shadow 0.3s ease;
}

input:hover, input:focus, button:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

input:focus, .dark-mode input[type="date"]:focus, .dark-mode input[type="time"]:focus {
    outline: none;
    box-shadow: 0 0 10px #719ECE;
}

button {
    background-color: #6A7FDB;
    color: white;
    cursor: pointer;
}

button#toggle-dark-mode, button#clear-tasks {
    background-color: #757575;
}

/* Estilos de Tabela */
table, th, td {
    width: 100%;
    padding: 15px;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background: white;
    color: #333;
}

th {
    background-color: #8AAAD2;
    color: white;
}

tr:nth-child(odd) {
    background-color: #E7EFFF;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}

#tasks-container {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.task-date-header{
    background-color: #8AAAD2; 
    color: #fff; 
    padding: 10px;
    margin-top: 0;
    border-radius: 8px;

}

h2.task-date-header{
    background-color: #6A7FDB;
}
.tasks-list {
    list-style-type: none;
    padding: 0;
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    margin-bottom: 20px; 
}
.tasks-list li {
    padding: 10px;
    border-bottom: 1px solid #eee; 
    background-color: #f9f9f9; 
    transition: background-color 0.2s;
    cursor: pointer;  
}
.tasks-list li:last-child {
    border-bottom: none;
}
.completed {
    text-decoration: line-through; 
    color: #aaa; 
    background-color: #e0e0e0;
}

footer {
    background-color: #f4f4f9; 
    color: #333; 
    text-align: center;
    padding: 10px 0; 
    border-top: 1px solid #ccc; 
}

/* Modo Noturno - Geral */
.dark-mode {
    background-color: #2b2f77;
    color: #ffffff;
}

/* Estilos para formulários, tabelas, botões e itens de lista no modo noturno */
.dark-mode form,
.dark-mode table,
.dark-mode button,
.dark-mode .tasks-list li {
    background-color: #3c408b; 
}

/* Ajustes específicos para cabeçalhos de tabela */
.dark-mode th,
.dark-mode tr:nth-child(odd),
.dark-mode tr:nth-child(even) {
    background-color: #323768;
}

/* Ajustes para células de tabela */
.dark-mode td {
    border-bottom: 1px solid #4f528c; 
}

/* Efeitos de hover para botões */
.dark-mode button:hover {
    background-color: #535a9d; 
}

/* Estilos para seletores e inputs no modo noturno */
.dark-mode .select-wrapper select,
.dark-mode input,
.dark-mode select {
    background-color: #333333;
    color: #ffffff;
}

.dark-mode #task-list li {
    background-color: #333;
}

.dark-mode #task-list li:hover {
    background-color: #444; 
}

/* Container de tarefas */
.dark-mode #tasks-container {
    background-color: #333; 
    color: #fff;
}

/* Itens da lista de tarefas */
.dark-mode .tasks-list li {
    background-color: #444; 
    border-bottom: 1px solid #4f528c;
    cursor: pointer; 
}

/* Cabeçalho da data */
.dark-mode .task-date-header {
    background-color: #3c408b;
    color: #ffffff;
    border-bottom: 1px solid #4f528c;
}

/* Botões no modo noturno */
.dark-mode button#toggle-dark-mode,
.dark-mode button#clear-tasks {
    background-color: #333333;
    color: white;
}

.dark-mode footer {
    background-color: #2b2f77; 
    color: #ffffff; 
    border-top: 1px solid #4f528c; 
}